<div class="container-fluid">
    <div class="col-lg-6 register-container">
        <form ng-submit="submit()" ng-controller="registerCtrl" name="user-register">
            <legend>Create Admin</legend>
            <input class="form-control" type="text" ng-model="form.username" ng-trim="false" name="username" placeholder="Username" ng-pattern="/^[a-zA-Z0-9_ ]*$/" required>
            <input class="form-control" type="password" ng-model="form.password" name="password" placeholder="Password" ng-minlength="6" ng-maxlength="15" required>
            <input class="form-control" type="password" ng-model="form.confirm" name="confirm" placeholder="Confirm Password" ng-minlength="6" ng-maxlength="15" required>
            <input type="submit" class="btn-primary form-control" value="Create Admin">
        </form>
    </div>
    <div class="col-lg-6 register-container">
        <form ng-submit="submit()" ng-controller="registerCtrl" name="user-register">
            <legend>Change Password</legend>
            <input class="form-control" type="password" ng-model="form.change" name="password" placeholder="Password" ng-minlength="6" ng-maxlength="15" required>
            <input class="form-control" type="password" ng-model="form.confirmChange" name="confirm" placeholder="Confirm Password" ng-minlength="6" ng-maxlength="15" required>
            <input type="submit" class="btn-danger form-control" value="Change Password">
        </form>
    </div>
</div>