
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  ​
}
label {
  font-size: 16px;
}
​
header{
  text-align: center;
}
a {
  color: #00B7FF;
}
td {
  border: 1px solid black;
  padding: 5px;
}
​
.login-container .input-group {
  padding: 10px;
  border: 1px solid black;
  margin: 40px auto 40px auto;
  background-color: white;
}
​
table {
  width: 90%;
  margin: 0 auto;
}
th {
  background-color: lightblue;
}
​
#close{
  float: right;
}
#edit{
  float: left;
}
.tab-content{
  padding: 30px;
}
.tab-content button {
  margin: 20px;
}
.header-logo{
  text-align: center;
}
​
.table{
  margin: 20px;
  width: 90%;
  position: relative;
  right: 20px;
}
​
.register-container{
  display: inline-block;
  text-align: center;
  margin: 0 auto 0 auto;
}
.register-container input{
  margin: 0 auto 0 auto;
}
.block-input {
  display: block;
  /*position: relative;*/
  /*left: 15px;*/
}
.modal{
  position: absolute;
}
​
.ng-show{
  display: none !important;
}
.ng-hide{
  display: none !important;
}
span{
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}
label{
  padding: 5px;
}
#mailList{
  text-align: center;
}
.table th{
  background-color: #07aa9e !important;
  color: white;
}
legend{
  text-align: center;
}
.content-container{
  padding: 20px;
  background-color: #E5E4E1;
  border: 2px solid black;
}
.adult{
  margin-top: 20px;
}
span{
  height: 30px;
  border: 1px solid black;
}
#create{
  position: relative;
  bottom: 5px;
  left: 5px;
}
.input-group span{
  border: none;
}
.ng-scope{
  border: none;
  /*display: none;*/
}
#notes {
  height: 100px;
}
#A1EL{
  margin: 0 0 0 auto;
}
.content-container{
  border: 2px solid black;
}
.background{
  background-image: url("/logo/AnneUlku_LeonardosBasement_Identity-04.jpg");
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  bottom: 0px;
  right: 70px;
}
.btn-default{
  background-color: #07aa9e !important;
  color: white !important;
}
.btn-primary{
  background-color: #07aa9e !important;
  color: white !important;
}
.btn-danger{
  background-color: #FEC343 !important;
  color: white !important;
}

#submit {
  background-color: #07aa9e;
  color: white;
  position: relative;
  bottom: 5px;
  left: 5px;
}
​
  /*input.ng-invalid {*/
  /*border: 1px solid red;*/
  /*}*/
​
.invalid.js-validate::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #FF0000;
}
.invalid.js-validate:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #FF0000;
  opacity:  1;
}
.invalid.js-validate::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FF0000;
  opacity:  1;
}
.invalid.js-validate:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #FF0000;
}
​
.invalid.js-validate {
  border-radius: 5px;
  border: #FF0000 2px solid;
  color: #FF0000;
}
.input-group {
  margin: 90px auto 0 auto;
}