

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
label {
  font-size: 16px;
  text-decoration: underline;
}

header{
  text-align: center;
}
a {
  color: #00B7FF;
}
td {
  border: 1px solid black;
  padding: 5px;
}

.login-container .input-group {
  padding: 10px;
  border: 1px solid black;
  margin: 40px auto 40px auto;
}

table {
  width: 90%;
  margin: 0 auto;
}
th {
  background-color: lightblue;
}

#close{
  float: right;
}
#edit{
  float: left;
}
.tab-content{
  padding: 30px;
}
.tab-content button {
  margin: 20px;
}
.header-logo{
  text-align: center;
}
.header-logo img{
  width: auto;
}
.table{
  margin: 20px;
  width: 90%;
  position: relative;
  right: 20px;
}

.register-container{
  display: inline-block;
  text-align: center;
  margin: 0 auto 0 auto;
}
.register-container input{
  margin: 0 auto 0 auto;
}
.block-input {
  display: block;
  /*position: relative;*/
  /*left: 15px;*/
}
.modal{
  position: absolute;
}

.ng-show{
  display: none !important;
}
.ng-hide{
  display: none !important;
}
span{
  padding: 5px;
  background-color: white;
  border-radius: 5px;
}
label{
  padding: 5px;
}
#mailList{
text-align: center;
}