<!--<div id="mailList">-->
<!--<div class="row">-->
<!--<div  class="newContactList container-fluid">-->

<!--<form name="newListForm" ng-hide="add" ng-controller="newContactListController as newList"  ng-click="createList()" novalidate>-->
<!--<legend>Create New Contact List</legend>-->
<!--<div class="row">-->
<!--<div class="input-group">-->
<!--<span class="input-group-btn"><input id="create"  class="btn btn-success"  ng-click="hide()" value="Create"></span>-->
<!--<input type="text" class="form-control" ng-model="listname.input" placeholder="New Contact List">-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<div  class="search-container fluid-container">
    <div class="row">

        <form id="listType" ng-controller="createListSearch" ng-submit="searchListBtn()">
            <fieldset>
                <legend>List Name</legend>
                <input name="type" type="radio" id="corp">
                <label for="corp">Corporation</label>

                <input name="type" type="radio" id="fam">
                <label for="fam">Families</label>

                <input class="js-extra" name="type" type="radio" id="zip">
                <label for="zip">Zip</label>
                <input class="js-value" type="text" placeholder="Zip Code">

                <input class="js-extra" name="type" type="radio" id="age">
                <label for="age">Age</label>
                <input class="js-value" type="number" placeholder="Age">

                <input class="btn btn-default" type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</div>
<!--</div>-->

<div id="adultSearchName" class="table">
    <table class="table-hover table table-bordered" ng-controller="createListSearch as results" >
        <tr>
            <th class="field-label col-xs-3 active">Name</th>
            <th class="field-label col-xs-4 active">Email</th>
            <th class="field-label col-xs-2 active">City</th>
            <th class="field-label col-xs-3 active">Company</th>
        </tr>
        <tr ng-repeat="result in results" ng-class="result.id">
            <td>{{result.firstName + " " + result.lastName}}</td>
            <td>{{result.email}}</td>
            <td>{{result.city}}</td>
            <td>{{result.company}}</td>
            <td><input type="checkbox" id={{result.id}}></td>
        </tr>
    </table>
</div>