<uib-tabset justified="true">
    <uib-tab heading="Corporate Information">
        <legend>Corporate Information</legend>
        <div class="content-container">
            <form>
                <label for="CN" class="block-input">Company Name</label>
                <input ng-show="edit" id="CN" name="corpName" ng-value="{{corporation.Company}}" class="form-control" type="text" placeholder="Company Name">
                <span ng-hide="edit" class="block-input">{{corporation.Company}}</span>

                <label for="CAR1" class="block-input">Address1</label>
                <input ng-show="edit" id="CAR1"  name="address1" ng-value="{{corporation.Address1}}" class="form-control" type="text" placeholder="Address 1">
                <span ng-hide="edit" class="block-input ">{{corporation.Address1}}</span>

                <label for="CAR2" class="block-input">Address 2</label>
                <input ng-show="edit" id="CAR2" name="address2" class="form-control"ng-value="{{corporation.Address2}}" type="text" placeholder="Address 2">
                <span ng-hide="edit" class="block-input">{{corporation.Address2}}</span>

                <label for="CZ"  class="col-xs-6 col-sm-4">Zip</label>
                <label for="CC" class="col-xs-6 col-sm-4">City</label>
                <label for="CS" class="col-xs-6 col-sm-4">State</label>


                <input ng-show="edit" id="CZ" name="zip" class="col-xs-6 col-sm-4" ng-value="{{corporation.Zip}}" type="text" placeholder="Zip Code">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{corporation.Zip}}</span>

                <input ng-show="edit" id="CC" name="city"class="col-xs-6 col-sm-4" ng-value="{{corporation.City}}" type="text" placeholder="City">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{corporation.City}}</span>

                <input ng-show="edit" id="CS" name="state"class="col-xs-6 col-sm-4" ng-value="{{corporation.State}}" type="text" placeholder="State">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{corporation.State}}</span>

                <label for="CP" class="col-md-6 col-sm-6 col-xs-6">Phone</label>
                <label for="CE" class="col-md-6 col-sm-6 col-xs-6">Email</label>

                <input ng-show="edit" id="CP"  name="phone"class="col-md-6 col-sm-6 col-xs-6" ng-value="{{corporation.Phone}}" type="text" placeholder="Phone">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{corporation.Phone}}</span>
                <input ng-show="edit" id="CE" name="email"class="col-md-6 col-sm-6 col-xs-6" type="text" ng-value="{{corporation.Email}}" placeholder="Email">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{corporation.Email}}</span>

                <label for="CNT" class="block-input">Notes</label>
                <textarea ng-show="edit" id="CNT" rows="4" class="form-control" ng-value="{{corporation.Notes}}" placeholder="Notes"></textarea>
                <span ng-hide="edit" class="block-input">{{corporation.Notes}}</span>
            </form>
            <!--edit button -->
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>
        </div>
    </uib-tab>
    <uib-tab heading="Contact Information">
        <legend>Contact Information</legend>
        <div class="content-container">
            <form>

                <label for="CCFN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="CCLN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>

                <input ng-show="edit" id="CCFN" class="col-md-6 col-sm-6 col-xs-6" ng-value="{{contact.FirstName}}" type="text" placeholder="First Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6 ">{{contact.FirstName}}</span>
                <input ng-show="edit" id="CCLN" class="col-md-6 col-sm-6 col-xs-6" ng-value="{{contact.LastName}}" type="text" placeholder="Last Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6 ">{{contact.LastName}}</span>

                <label for="CCP" class="col-xs-6 col-sm-4">Phone</label>
                <label for="CCEX" class="col-xs-6 col-sm-4">Extension</label>
                <label for="CCE" class="col-xs-6 col-sm-4">Email</label>

                <input ng-show="edit" id="CCP" class="col-xs-6 col-sm-4" ng-value="{{contact.Phone}}" type="text" placeholder="Phone Number">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{contact.Phone}}</span>
                <input ng-show="edit" id="CCEX" name="extPhone"class="col-xs-6 col-sm-4" ng-value="{{contact.Ext}}" type="text" placeholder="Ext">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{contact.Ext}}</span>
                <input ng-show="edit" id="CCE" class="col-xs-6 col-sm-4" type="text" ng-value="{{contact.Email}}" placeholder="Email">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{contact.Email}}</span>

                <label for="CCN" class="block-input">Notes</label>
                <textarea ng-show="edit" id="CCN" rows="4" class="form-control" ng-value="{{contact.Notes}}" placeholder="Notes"></textarea>
                <span ng-hide="edit" class="block-input">{{contact.Notes}}</span>
            </form>
        </div>
                <!--next buttons -->
                <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
                <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
                <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>


    </uib-tab>
    <uib-tab heading="Donations">
        <legend>Donations</legend>
        <div class="content-container">
            <table class="table-hover table table-bordered" ng-controller="editFamilyCtrl" >
                <tr>
                    <th class="field-label col-xs-3 active">Date</th>
                    <th class="field-label col-xs-3 active">Amount</th>
                    <th class="field-label col-xs-3 active">Notes</th>
                </tr>

                <tr>
                    <td class="field-label col-xs-3 active">10/03/15</td>
                    <td class="field-label col-xs-3 active">$1,000</td>
                    <td class="field-label col-xs-3 active">Something cool to note about</td>
                </tr>
                <tr>
                    <td class="field-label col-xs-3 active">10/03/15</td>
                    <td class="field-label col-xs-3 active">$1,000</td>
                    <td class="field-label col-xs-3 active">Something cool to note about</td>
                </tr>
                <tr>
                    <td class="field-label col-xs-3 active">10/03/15</td>
                    <td class="field-label col-xs-3 active">$1,000</td>
                    <td class="field-label col-xs-3 active">Something cool to note about</td>
                </tr>
            </table>
        </div>
            <label ng-show="edit">Add Donation</label>
            <button ng-show="edit" type="button" class="btn btn-danger">+</button>
            <input ng-show="edit" id="CDD" class="form-control" type="date" placeholder="Date">
            <input ng-show="edit" id="CDA" class="form-control" type="text" placeholder="Amount">
            <textarea ng-show="edit" id="CDN" rows="4" class="form-control" placeholder="Notes"></textarea>
            <!--save / close buttons -->
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>
        </div>
    </uib-tab>
</uib-tabset>
