<uib-tabset justified="true">
    <uib-tab heading="Contact Info">
        <div class="well well-sm">
            <!--span is information retrieved from DB-->
            <!--inputs are editable after click-->
            <form>
                <label for="A1FN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="A1LN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>

                <input id="A1FN" ng-show="edit" ng-model="family.adultOne.firstName" class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultOne.firstName}}</span>
                <input id="A1LN" ng-show="edit" ng-model="family.family.adultOne.LastName" class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultOne.lastName}}</span>

                <label for="A1AR1" class="block-input">Address 1</label>
                <input id="A1AR1" ng-show="edit" ng-model="family.adultOne.addressOne" class="form-control" type="text" placeholder="Address 1">
                <span ng-hide="edit" class="block-input">{{family.adultOne.addressOne}}</span>

                <label for="A1AR2" class="block-input">Address 2</label>
                <input id="A1AR2" ng-show="edit" ng-model="family.adultOne.addressTwo" class="form-control" type="text" placeholder="Address 2">
                <span ng-hide="edit" class="block-input">{{family.adultOne.addressTwo}}</span>

                <label for="A1Z" class="col-xs-6 col-sm-4">Zip</label>
                <label for="A1Cty" class="col-xs-6 col-sm-4">City</label>
                <label for="A1S" class="col-xs-6 col-sm-4">State</label>

                <input id="A1Z" ng-show="edit" ng-model="family.adultOne.zip" class="col-xs-6 col-sm-4" type="text" placeholder="Zip Code">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.zip}}</span>
                <input id="A1Cty"  ng-show="edit" ng-model="family.adultOne.city" class="col-xs-6 col-sm-4" type="text" placeholder="City">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.city}}</span>
                <input id="A1S" ng-show="edit" ng-model="family.adultOne.state" class="col-xs-6 col-sm-4" type="text" placeholder="State">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.state}}</span>

                <label for="A1P" class="col-xs-6 col-sm-4">Phone</label>
                <label for="A1CP" class="col-xs-6 col-sm-4">Cell Phone</label>
                <label for="A1E" class="col-xs-6 col-sm-4">Email</label>

                <input id="A1P" ng-show="edit" ng-model="family.adultOne.work" class="col-xs-6 col-sm-4" type="text" placeholder="Work Phone">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.work}}</span>
                <input id="A1CP" ng-show="edit" class="col-xs-6 col-sm-4" ng-model="family.adultOne.cell" type="text" placeholder="Cell Phone">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.cell}}</span>
                <input id="A1E" ng-show="edit" class="col-xs-6 col-sm-4" ng-model="family.adultOne.email" type="text" placeholder="Email">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.email}}</span>

                <label for="A1C" class="block-input">Company</label>
                <input id="A1C" ng-show="edit" class="form-control" ng-model="family.adultOne.company" type="text" placeholder="Company">
                <span ng-hide="edit" class="block-input">{{family.adultOne.company}}</span>

                <label for="A1N" class="block-input">Notes</label>
                <textarea id="A1N" ng-show="edit" rows="4" class="form-control" ng-model="family.adultOne.notes" placeholder="Notes"></textarea>
                <span ng-hide="edit" class="block-input">{{family.adultOne.notes}}</span>

                <label for="A2FN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="A2LN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>

                <input id="A2FN" ng-show="edit" ng-model="family.adultTwo.firstName" class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultTwo.firstName}}</span>
                <input id="A2LN" ng-show="edit" class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultTwo.lastName}}</span>

                <label for="A2AR1" class="block-input">Address 1</label>
                <input id="A2AR1" ng-show="edit" ng-model="family.adultTwo.addressOne" class="form-control" type="text" placeholder="Address 1">
                <span ng-hide="edit" class="block-input">{{family.adultTwo.addressOne}}</span>

                <label for="A2AR2" class="block-input">Address 2</label>
                <input id="A2AR2" ng-show="edit" class="form-control" ng-model="family.adultTwo.addressTwo" type="text" placeholder="Address 2">
                <span ng-hide="edit" class="block-input">{{family.adultTwo.AddressTwo}}</span>

                <label for="A2Z" class="col-xs-6 col-sm-4">Zip</label>
                <label for="A2Cty" class="col-xs-6 col-sm-4">City</label>
                <label for="A2S" class="col-xs-6 col-sm-4">State</label>

                <input id="A2Z" ng-show="edit" class="col-xs-6 col-sm-4" ng-model="family.adultTwo.zip" type="text" placeholder="Zip Code">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.Zip}}</span>
                <input id="A2Cty" ng-show="edit" class="col-xs-6 col-sm-4" ng-model="family.adultTwo.city" type="text" placeholder="City">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.City}}</span>
                <input id="A2S" ng-show="edit" class="col-xs-6 col-sm-4" ng-model="family.adultTwo.state" type="text" placeholder="State">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.State}}</span>

                <label for="A2P" class="col-xs-6 col-sm-4">Phone</label>
                <label for="A2CP" class="col-xs-6 col-sm-4">Cell Phone</label>
                <label for="A2E" class="col-xs-6 col-sm-4">Email</label>

                <input id="A2P" ng-show="edit" class="col-xs-6 col-sm-4" ng-model="family.adultTwo.work" type="text" placeholder="Work Phone">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.work}}</span>
                <input id="A2CP" ng-show="edit" class="col-xs-6 col-sm-4" type="text" ng-model="family.adultTwo.cell" placeholder="Cell Phone">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.cell}}</span>
                <input id="A2E" ng-show="edit" class="col-xs-6 col-sm-4" type="text" ng-model="family.adultTwo.email" placeholder="Email">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.email}}</span>

                <label for="A2C" class="block-input">Company</label>
                <input id="A2C" ng-show="edit" class="form-control" ng-model="family.adultTwo.company" type="text" placeholder="Company">
                <span ng-hide="edit" class="block-input">{{family.adultTwo.company}}</span>

                <label for="A2N" class="block-input">Notes</label>
                <textarea id="A2N" ng-show="edit" rows="4" class="form-control" ng-model="family.adultTwo.notes" placeholder="Notes"></textarea>
                <span ng-hide="edit" class="block-input">{{family.adultTwo.notes}}</span>
                <!--edit / close buttons -->
            </form>
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>
        </div>
    </uib-tab>
    <uib-tab heading="Emergency Contact">
        <div class="well well-sm">
            <form>
                <label for="EmFN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="EmLN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>

                <input id="EmFN" ng-show="edit" ng-model="family.emergency.firstName" class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.emergency.firstName}}</span>
                <input id="EmLN" ng-show="edit" ng-model="family.emergency.lastName" class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">family.emergency.lastName</span>

                <label for="EmAR1" class="block-input">Address 1</label>
                <input id="EmAR1" ng-show="edit" class="form-control" ng-model="family.emergency.addressOne" type="text" placeholder="Address 1">
                <span ng-hide="edit" class="block-input">{{family.emergency.addressOne}}</span>

                <label for="EmAR2" class="block-input">Address 2</label>
                <input id="EmAR2" ng-show="edit" class="form-control" ng-model="family.emergency.addressTwo" type="text" placeholder="Address 2">
                <span ng-hide="edit" class="block-input">{{family.emergency.addressTwo}}</span>

                <label for="EmZ" class="col-xs-6 col-sm-3">Zip</label>
                <label for="EmCty" class="col-xs-6 col-sm-3">City</label>
                <label for="EmS" class="col-xs-6 col-sm-3">State</label>
                <label for="EmP" class="col-xs-6 col-sm-3">Phone</label>

                <input id="EmZ" ng-show="edit" class="col-md-3 col-sm-4 col-xs-6" ng-model="family.emergency.zip" type="text" placeholder="Zip Code">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.zip}}</span>
                <input id="EmCty" ng-show="edit" class="col-md-3 col-sm-4 col-xs-6" type="text" ng-model="family.emergency.city" placeholder="City">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.city}}</span>
                <input id="EmS" ng-show="edit" class="col-md-3 col-sm-4 col-xs-6" type="text" ng-model="family.emergency.state" placeholder="State">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.state}}</span>
                <input id="EmP" ng-show="edit" class="col-md-3 col-sm-4 col-xs-6" type="text" ng-model="family.emergency.phone" placeholder="Phone Number">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.phone}}</span>

                <label for="EmN" class="block-input">Notes</label>
                <textarea id="EmN" ng-show="edit" rows="4" class="form-control" ng-model="family.emergency.notes" placeholder="Notes"></textarea>
                <span ng-hide="edit" class="block-input">{{family.emergency.notes}}</span>
                <!--edit / close buttons -->
            </form>
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>
        </div>
    </uib-tab>
    <uib-tab heading="Additional Members">
        <div class="well well-sm">
            <form>

                <label for="KFN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="KLN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>

                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">Greg</span>
                <input id="KFN" ng-show="edit"  class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">Brady</span>
                <input id="KLN" ng-show="edit"  class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name">

                <label for="KBD" class="col-md-6 col-sm-6 col-xs-6">Birthday</label>
                <label for="KS" class="col-md-6 col-sm-6 col-xs-6">School</label>

                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">04/08/1988</span>
                <input ng-model="additional.bDay" id="KBD" ng-show="edit"  class="col-md-6 col-sm-6 col-xs-6" type="date" placeholder="Birthday">
                <span ng-hide="edit"  class="col-md-6 col-sm-6 col-xs-6">Cool School</span>
                <input ng-model="additional.school" id="KS" ng-show="edit"  class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="School">

                <label for="KN" class="block-input">Notes</label>
                <span ng-hide="edit" class="block-input">This is some more information about this person</span>
                <textarea ng-model="additional.notes" id="KN" ng-show="edit"  rows="4" class="form-control" placeholder="Notes" ng-repeat-end=""></textarea>

                <!--shows upon editing\/\/\/-->

                <button ng-show="edit" type="button" class="btn btn-danger">+</button>
                <hr/>

                <input ng-show="edit"  class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name">
                <input ng-show="edit"  class="col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name">
                <input ng-show="edit"  class="form-control" type="date" placeholder="Birthday">
                <textarea ng-show="edit"  rows="4" class="form-control" placeholder="Notes"></textarea>

            </form>
            <!--edit / close buttons -->
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>
        </div>
    </uib-tab>
    <uib-tab heading="Donations">
            <div class="well well-sm">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>10/3/15</td>
                        <td>$1,000</td>
                        <td>something to note about</td>
                    </tr>
                    <tr>
                        <td>10/8/14</td>
                        <td>$2,000</td>
                        <td>something to note about</td>
                    </tr>
                    <tr>
                        <td>9/25/13</td>
                        <td>$1,500</td>
                        <td>something to note about</td>
                    </tr>
                </table>
            <!--edit / close buttons -->
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
            <button ng-show="edit" ng-click="edit = !edit" class="btn btn-danger">Cancel</button>
            <!--shows when editable\/\/\/ -->

            <label ng-show="edit" for="donation">Add Donation</label>
            <button ng-show="edit" type="button" class="btn btn-danger">+</button>
            <input ng-show="edit" class="form-control" type="date" placeholder="Date">
            <input ng-show="edit" class="form-control" type="text" placeholder="Amount">
            <textarea ng-show="edit" rows="4" class="form-control" placeholder="Notes"></textarea>
        </div>
    </uib-tab>
</uib-tabset>
