<uib-tabset justified="true">
    <uib-tab heading="Contact Info">
        ​
        <!--span is information retrieved from DB-->
        <!--inputs are editable after click-->
        <form ng-submit="save();edit = !edit" id="EditFamInfoForm">
            <legend class="adult">Adult1</legend>
            <div class="content-container">
                <label for="A1FN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="A1LN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>
                ​
                <input ng-model="family.adultOne.firstName"  id="A1FN" ng-show="edit" class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name" data-placeholder="First Name" data-invalid="Valid first name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'A1FN');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultOne.firstName}}</span>
                <input ng-model="family.adultOne.lastName" id="A1LN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name" data-placeholder="Last Name" data-invalid="Valid last name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'A1LN');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultOne.lastName}}</span>
                ​
                <label for="A1AR1" class="block-input">Address 1</label>
                <input ng-model="family.adultOne.addressOne" id="A1AR1" ng-show="edit"  class="js-validate form-control" type="text" placeholder="Address 1" data-placeholder="Address 1" data-invalid="Valid address: (a-z 0-9 regular punctuation/special characters)" data-type="address" ng-blur="validateInput('address', 'A1AR1');">
                <span ng-hide="edit" class="block-input">{{family.adultOne.addressOne}}</span>
                ​
                <label for="A1AR2" class="block-input">Address 2</label>
                <input ng-model="family.adultOne.addressTwo" id="A1AR2" ng-show="edit"  class="js-validate form-control" type="text" placeholder="Address 2" data-placeholder="Address 2" data-invalid="Valid address: (a-z 0-9 regular punctuation/special characters)" data-type="address" ng-blur="validateInput('address', 'A1AR2');">
                <span ng-hide="edit" class="block-input">{{family.adultOne.addressTwo}}</span>
                ​
                <label for="A1Z" class="col-xs-6 col-sm-4">Zip</label>
                <label for="A1Cty" class="col-xs-6 col-sm-4">City</label>
                <label for="A1S" class="col-xs-6 col-sm-4">State</label>
                ​
                <input ng-model="family.adultOne.zip" id="A1Z" ng-show="edit"  class="js-validate col-xs-6 col-sm-4" type="text" placeholder="Zip Code" data-placeholder="Zip Code" data-invalid="Valid zip: #####" data-type="zip" ng-blur="validateInput('zip', 'A1Z');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.zip}}</span>
                <input ng-model="family.adultOne.city" id="A1Cty"  ng-show="edit"  class="js-validate col-xs-6 col-sm-4" type="text" placeholder="City" data-placeholder="City" data-invalid="Valid city: (a-z)" data-type="city" ng-blur="validateInput('city', 'A1Cty');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.city}}</span>
                <input ng-model="family.adultOne.state" id="A1S" ng-show="edit"  class="js-validate col-xs-6 col-sm-4" type="text" placeholder="State" data-placeholder="State" data-invalid="Valid state: (a-z)" data-type="state" ng-blur="validateInput('state', 'A1S');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.state}}</span>
                ​
                <label for="A1WP" class="col-xs-6 col-sm-4">Work Phone</label>
                <label for="A1CP" class="col-xs-6 col-sm-4">Cell Phone</label>
                <label for="A1E" class="col-xs-6 col-sm-4">Email</label>
                ​
                <input ng-model="family.adultOne.work" id="A1WP" ng-show="edit" class="js-validate col-xs-6 col-sm-4" type="text" placeholder="Work Phone" data-placeholder="Work Phone" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'A1WP');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.work}}</span>
                <input ng-model="family.adultOne.cell" id="A1CP" ng-show="edit" class="js-validate col-xs-6 col-sm-4"  type="text" placeholder="Cell Phone" data-placeholder="Cell Phone" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'A1CP');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.cell}}</span>
                <input ng-model="family.adultOne.email" id="A1E" ng-show="edit" class="js-validate col-xs-6 col-sm-4"  type="text" placeholder="Email" data-placeholder="Email" data-invalid="valid email: (a-z 0-9 . _ % + -)@(a-z 0-9 . -).(a-z)" data-type="email" ng-blur="validateInput('email', 'A1E');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultOne.email}}</span>
                ​
                <label for="A1MP" class="col-md-6 col-sm-6 col-xs-6">Main Phone</label>
                <label for="A1Co" class="col-md-6 col-sm-6 col-xs-6">Company</label>
                <input ng-model="family.adultOne.main" id="A1MP" ng-show="edit" class="js-validate col-md-6 col-sm-6 col-xs-6"  type="text" placeholder="Main Phone" data-placeholder="Main Phone" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'A1MP');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultOne.main}}</span>
                <input ng-model="family.adultOne.company" id="A1Co" ng-show="edit" class="js-validate col-md-6 col-sm-6 col-xs-6"  type="text" placeholder="Company"  data-placeholder="Company" data-invalid="Valid corp name: (a-z 0-9 regular punctuation/special characters)" data-type="corpName" ng-blur="validateInput('corpName', 'A1Co');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultOne.company}}</span>
                ​
                <label for="A1N" class="block-input">Notes</label>
                <textarea ng-model="family.adultOne.notes" id="A1N" ng-show="edit" rows="4" class="js-validate form-control"  placeholder="Notes" data-placeholder="Notes" data-invalid="Valid note: (a-z 0-9 regular punctuation, special characters)" data-type="notes" ng-blur="validateInput('notes', 'A1N');"></textarea>
                <span ng-hide="edit" class="block-input">{{family.adultOne.notes}}</span>
            </div>
            <legend class="adult">Adult2</legend>
            <div class="content-container">
                <label for="A2FN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="A2LN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>
                ​
                <input ng-model="family.adultTwo.firstName" id="A2FN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name" data-placeholder="First Name" data-invalid="Valid first name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'A2FN');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultTwo.firstName}}</span>
                <input ng-model="family.adultTwo.lastName" id="A2LN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name" data-placeholder="Last Name" data-invalid="Valid last name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'A2LN');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultTwo.lastName}}</span>
                ​
                <label for="A2AR1" class="block-input">Address 1</label>
                <input ng-model="family.adultTwo.addressOne" id="A2AR1" ng-show="edit"  class="js-validate form-control" type="text" placeholder="Address 1" data-placeholder="Address 1" data-invalid="Valid address: (a-z 0-9 regular punctuation/special characters)" data-type="address" ng-blur="validateInput('address', 'A2AR1');">
                <span ng-hide="edit" class="block-input">{{family.adultTwo.addressOne}}</span>
                ​
                <label for="A2AR2" class="block-input">Address 2</label>
                <input ng-model="family.adultTwo.addressTwo" id="A2AR2" ng-show="edit" class="js-validate form-control"  type="text" placeholder="Address 2" data-placeholder="Address 2" data-invalid="Valid address: (a-z 0-9 regular punctuation/special characters)" data-type="address" ng-blur="validateInput('address', 'A2AR2');">
                <span ng-hide="edit" class="block-input">{{family.adultTwo.addressTwo}}</span>
                ​
                <label for="A2Z" class="col-xs-6 col-sm-4">Zip</label>
                <label for="A2Cty" class="col-xs-6 col-sm-4">City</label>
                <label for="A2S" class="col-xs-6 col-sm-4">State</label>
                ​
                <input ng-model="family.adultTwo.zip" id="A2Z" ng-show="edit" class="js-validate col-xs-6 col-sm-4"  type="text" placeholder="Zip Code" data-placeholder="Zip Code" data-invalid="Valid zip: #####" data-type="zip" ng-blur="validateInput('zip', 'A2Z');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.zip}}</span>
                <input ng-model="family.adultTwo.city" id="A2Cty" ng-show="edit" class="js-validate col-xs-6 col-sm-4"  type="text" placeholder="City" data-placeholder="City" data-invalid="Valid city: (a-z)" data-type="city" ng-blur="validateInput('city', 'A2Cty');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.city}}</span>
                <input ng-model="family.adultTwo.state" id="A2S" ng-show="edit" class="js-validate col-xs-6 col-sm-4"  type="text" placeholder="State" data-placeholder="State" data-invalid="Valid state: (a-z)" data-type="state" ng-blur="validateInput('state', 'A2S');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.state}}</span>
                ​
                <label for="A2WP" class="col-xs-6 col-sm-4">Work Phone</label>
                <label for="A2CP" class="col-xs-6 col-sm-4">Cell Phone</label>
                <label for="A2E" class="col-xs-6 col-sm-4">Email</label>
                ​
                <input ng-model="family.adultTwo.work" id="A2WP" ng-show="edit" class="js-validate col-xs-6 col-sm-4" type="text" placeholder="Work Phone" data-placeholder="Work Phone" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'A2WP');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.work}}</span>
                <input ng-model="family.adultTwo.cell" id="A2CP" ng-show="edit" class="js-validate col-xs-6 col-sm-4" type="text"  placeholder="Cell Phone" data-placeholder="Cell Phone" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'A2CP');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.cell}}</span>
                <input ng-model="family.adultTwo.email" id="A2E" ng-show="edit" class="js-validate col-xs-6 col-sm-4" type="text"  placeholder="Email" data-placeholder="Email" data-invalid="valid email: (a-z 0-9 . _ % + -)@(a-z 0-9 . -).(a-z)" data-type="email" ng-blur="validateInput('email', 'A2E');">
                <span ng-hide="edit" class="col-xs-6 col-sm-4">{{family.adultTwo.email}}</span>
                ​
                <label for="A2MP" class="col-md-6 col-sm-6 col-xs-6">Main Phone</label>
                <label for="A2Co" class="col-md-6 col-sm-6 col-xs-6">Company</label>
                <input ng-model="family.adultTwo.main" id="A2MP" ng-show="edit" class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Main Phone" data-placeholder="Main Phone" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'A2MP');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultTwo.main}}</span>
                <input ng-model="family.adultTwo.company" id="A2Co" ng-show="edit" class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Company" data-placeholder="Company" data-invalid="Valid corp name: (a-z 0-9 regular punctuation/special characters)" data-type="corpName" ng-blur="validateInput('corpName', 'A2Co');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.adultTwo.company}}</span>​

                <label for="A2N" class="block-input">Notes</label>
                <textarea ng-model="family.adultTwo.notes" id="A2N" ng-show="edit" rows="4" class="js-validate form-control"  placeholder="Notes" data-placeholder="Notes" data-invalid="Valid note: (a-z 0-9 regular punctuation, special characters)" data-type="notes" ng-blur="validateInput('notes', 'A2N');" ></textarea>
                <span ng-hide="edit" class="block-input">{{family.adultTwo.notes}}</span>
                <!--edit / close buttons -->
            </div>
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" class="btn btn-primary">Save</button>
            <button type="reset" ng-show="edit" ng-click="edit = !edit;clearFamily(['EditFamInfoForm', 'EditFamEmerForm', 'EditFamChildrenForm', 'EditFamDonationsForm'])" class="btn btn-danger">Cancel</button>
        </form>
        ​
    </uib-tab>
    <uib-tab heading="Emergency Contact">
        <legend>Emergency Contact</legend>
        <div class="content-container">
            <form ng-submit="save();edit = !edit" id="EditFamEmerForm">
                <label for="EmFN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="EmLN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>
                ​
                <input ng-model="family.emergency.firstName" id="EmFN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name" data-placeholder="First Name" data-invalid="Valid first name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'EmFN');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.emergency.firstName}}</span>
                <input ng-model="family.emergency.lastName" id="EmLN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name" data-placeholder="Last Name" data-invalid="Valid last name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'EmLN');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{family.emergency.lastName}}</span>
                ​
                <label for="EmAR1" class="block-input">Address 1</label>
                <input ng-model="family.emergency.addressOne" id="EmAR1" ng-show="edit" class="js-validate form-control" type="text" placeholder="Address 1" data-placeholder="Address 1" data-invalid="Valid address: (a-z 0-9 regular punctuation/special characters)" data-type="address" ng-blur="validateInput('address', 'EmAR1');">
                <span ng-hide="edit" class="block-input">{{family.emergency.addressOne}}</span>
                ​
                <label for="EmAR2" class="block-input">Address 2</label>
                <input ng-model="family.emergency.addressTwo" id="EmAR2" ng-show="edit" class="js-validate form-control"  type="text" placeholder="Address 2" data-placeholder="Address 2" data-invalid="Valid address: (a-z 0-9 regular punctuation/special characters)" data-type="address" ng-blur="validateInput('address', 'EmAR2');">
                <span ng-hide="edit" class="block-input">{{family.emergency.addressTwo}}</span>
                ​
                <label for="EmZ" class="col-xs-6 col-sm-3">Zip</label>
                <label for="EmCty" class="col-xs-6 col-sm-3">City</label>
                <label for="EmS" class="col-xs-6 col-sm-3">State</label>
                <label for="EmP" class="col-xs-6 col-sm-3">Phone</label>
                ​
                <input ng-model="family.emergency.zip" id="EmZ" ng-show="edit" class="js-validate col-md-3 col-sm-4 col-xs-6"  type="text" placeholder="Zip Code" data-placeholder="Zip Code" data-invalid="Valid zip: #####" data-type="zip" ng-blur="validateInput('zip', 'EmZ');">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.zip}}</span>
                <input ng-model="family.emergency.city" id="EmCty" ng-show="edit" class="js-validate col-md-3 col-sm-4 col-xs-6" type="text" placeholder="City" data-placeholder="City" data-invalid="Valid city: (a-z)" data-type="city" ng-blur="validateInput('city', 'EmCty');">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.city}}</span>
                <input ng-model="family.emergency.state" id="EmS" ng-show="edit" class="js-validate col-md-3 col-sm-4 col-xs-6" type="text"  placeholder="State" data-placeholder="State" data-invalid="Valid state: (a-z)" data-type="state" ng-blur="validateInput('state', 'EmS');">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.state}}</span>
                <input ng-model="family.emergency.phone" id="EmP" ng-show="edit" class="js-validate col-md-3 col-sm-4 col-xs-6" type="text"  placeholder="Phone Number" data-placeholder="Phone Number" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'EmP');">
                <span ng-hide="edit" class="col-xs-6 col-sm-3">{{family.emergency.phone}}</span>
                ​
                <label for="EmN" class="block-input">Notes</label>
                <textarea ng-model="family.emergency.notes" id="EmN" ng-show="edit" rows="4" class="js-validate form-control"  placeholder="Notes" data-placeholder="Notes" data-invalid="Valid note: (a-z 0-9 regular punctuation, special characters)" data-type="notes" ng-blur="validateInput('notes', 'EmN');"></textarea>
                <span ng-hide="edit" class="block-input">{{family.emergency.notes}}</span>
                <!--edit / close buttons -->
            </form>
        </div>
        <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
        <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
        <button type="reset" ng-show="edit" ng-click="edit = !edit;clearFamily(['EditFamInfoForm', 'EditFamEmerForm', 'EditFamChildrenForm', 'EditFamDonationsForm'])" class="btn btn-danger">Cancel</button>
        ​
    </uib-tab>
    <uib-tab heading="Additional Members" >
        <legend>Additional Members</legend>
        <div class="content-container" ng-repeat="child in family.children">
            <form  ng-submit="save();edit = !edit">
                <label for="KFN" class="col-md-6 col-sm-6 col-xs-6">First Name</label>
                <label for="KLN" class="col-md-6 col-sm-6 col-xs-6">Last Name</label>
                ​
                <span  ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{child.firstName}}</span>
                <input ng-model="child.firstName" id="KFN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name" data-placeholder="First Name" data-invalid="Valid first name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'KFN')";>
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{child.lastName}}</span>
                <input ng-model = "child.lastName" id="KLN" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name" data-placeholder="Last Name" data-invalid="Valid last name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'KLN');">
                ​
                <label for="KBD" class="col-md-6 col-sm-6 col-xs-6">Birthday</label>
                <label for="KS" class="col-md-6 col-sm-6 col-xs-6">School</label>
                ​
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{child.birthdate}}</span>
                <input ng-model="child.birthdate" id="KBD" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Birthday mm/dd/yyyy" data-placeholder="Birthday (YYYY-MM-DD)" data-invalid="Valid date: YYYY-MM-DD 1990 or later" data-type="birthdate" ng-blur="validateInput('birthdate', 'KBD');">
                <span ng-hide="edit"  class="col-md-6 col-sm-6 col-xs-6">{{child.school}}</span>
                <input ng-model="child.school" id="KS" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="School" data-placeholder="School" data-invalid="Valid school name: (a-z 0-9 regular punctuation/special characters)" data-type="corpName" ng-blur="validateInput('corpName', 'KS');">
                ​
                <label for="KBD" class="col-md-6 col-sm-6 col-xs-6">Cell</label>
                <label for="KS" class="col-md-6 col-sm-6 col-xs-6">Email</label>

                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{child.cell}}</span>
                <input ng-model="child.cell" id="KCP" ng-show="edit" class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Phone Number" data-placeholder="Phone Number" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'KC');">
                <span ng-hide="edit" class="col-md-6 col-sm-6 col-xs-6">{{child.email}}</span>
                <input ng-model="child.email" id="KE" ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text"  placeholder="Email" data-placeholder="Email" data-invalid="valid email: (a-z 0-9 . _ % + -)@(a-z 0-9 . -).(a-z)" data-type="email" ng-blur="validateInput('email', 'KE');">

                <label for="KN" class="block-input">Notes</label>
                <span ng-hide="edit" id="notes" class="block-input">{{child.notes}}</span>
                <textarea ng-model="child.notes" id="KN" ng-show="edit"  rows="4" class="js-validate form-control" placeholder="Notes" data-placeholder="Notes" data-invalid="Valid note: (a-z 0-9 regular punctuation, special characters)" data-type="notes" ng-blur="validateInput('notes', 'KN');"></textarea>
                <hr>
            </form>
        </div>
            <form>​
                <!--shows upon editing\/\/\/-->
                ​
                <button ng-show="edit" type="button" class="btn btn-danger">+</button>
                <hr/>
                ​
                <input ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="First Name" data-placeholder="First Name" data-invalid="Valid first name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'KFN');">
                <input ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Last Name" data-placeholder="Last Name" data-invalid="Valid last name: (a-z , . - ')" data-type="name" ng-blur="validateInput('name', 'KLN');">
                <input ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="date" placeholder="Birthday" data-placeholder="Birthday (YYYY-MM-DD)" data-invalid="Valid date: YYYY-MM-DD 1990 or later" data-type="birthdate" ng-blur="validateInput('birthdate', 'KBD');">
                <input ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="School" data-placeholder="School" data-invalid="Valid school name: (a-z 0-9 regular punctuation/special characters)" data-type="corpName" ng-blur="validateInput('corpName', 'KS');">
                <input ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text" placeholder="Phone Number" data-placeholder="Phone Number" data-invalid="Valid phone: (### ### #### spacers: (- . / space)" data-type="phone" ng-blur="validateInput('phone', 'KC');">
                <input ng-show="edit"  class="js-validate col-md-6 col-sm-6 col-xs-6" type="text"  placeholder="Email" data-placeholder="Email" data-invalid="valid email: (a-z 0-9 . _ % + -)@(a-z 0-9 . -).(a-z)" data-type="email" ng-blur="validateInput('email', 'KE');">
                <textarea ng-show="edit"  rows="4" class="form-control" placeholder="Notes" data-placeholder="Notes" data-invalid="Valid note: (a-z 0-9 regular punctuation, special characters)" data-type="notes" ng-blur="validateInput('notes', 'KN');"></textarea>
            </form>​


        <!--edit / close buttons -->
        <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
        <button ng-show="edit" ng-click="edit = !edit" class="btn btn-primary">Save</button>
        <button type="reset" ng-show="edit" ng-click="edit = !edit;clearFamily(['EditFamInfoForm', 'EditFamEmerForm', 'EditFamChildrenForm', 'EditFamDonationsForm'])" class="btn btn-danger">Cancel</button>
        ​
    </uib-tab>
    <uib-tab heading="Donations">
        <form id="EditFamDonationsForm" ng-submit="save();edit = !edit">
            <legend>Donations</legend>
            <div class="content-container">
                <table class="table-hover table table-bordered">
                    <tr>
                        <th class="field-label col-xs-3 active">Date</th>
                        <th class="field-label col-xs-3 active">Amount</th>
                        <th class="field-label col-xs-3 active">Notes</th>
                    </tr>
                    ​
                    <tr ng-repeat="donate in family.donations">
                        <td class="field-label col-xs-3 active">{{donate.date}}</td>
                        <td class="field-label col-xs-3 active">{{donate.amount}}</td>
                        <td class="field-label col-xs-3 active">{{donate.notes}}</td>
                    </tr>

                </table>
            </div>
            <!--edit / close buttons -->
            <button ng-hide="edit" ng-click="edit = !edit" type="button" aria-label="Toggle ngHide" class="btn btn-danger">Edit</button>
            <button ng-show="edit" class="btn btn-primary">Save</button>
            <button type="reset" ng-show="edit" ng-click="edit = !edit;clearFamily(['EditFamInfoForm', 'EditFamEmerForm', 'EditFamChildrenForm', 'EditFamDonationsForm'])" class="btn btn-danger">Cancel</button>
            <!--shows when editable\/\/\/ -->
            ​
            <label ng-show="edit">Add Donation</label>
            <button ng-show="edit" type="button" class="btn btn-danger" ng-click="addDonation()">+</button>
            <input ng-show="edit" id="FDD" class="js-validate form-control" type="date" placeholder="Date" data-placeholder="Date (YYYY-MM-DD)" data-invalid="Valid date: YYYY-MM-DD 2000 or later" data-type="date" ng-blur="validateInput('date', 'FDD');">
            <input ng-show="edit" id="FDA" class="js-validate form-control" type="text" placeholder="Amount" data-placeholder="Amount" data-invalid="Valid amount: (opt $) #'s (opt decimal)" data-type="amount" ng-blur="validateInput('amount', 'FDA');">
            <textarea ng-show="edit" id="FDN" rows="4" class="js-validate form-control" placeholder="Notes" data-placeholder="Notes" data-invalid="Valid note: (a-z 0-9 regular punctuation, special characters)" data-type="notes" ng-blur="validateInput('notes', 'FDN');"></textarea>
        ​</form>
    </uib-tab>
</uib-tabset>