<!--Search Bar-->
<div class="search-container fluid-container">
        <div class="row">
                <div class="input-group" ng-controller="searchFunction">
                    <div class="input-group-btn">
                        <button type="button" ng-click="searchBtn()" class="btn btn-default" >Search</button>
                    </div>
                    <input type="text" ng-model="formInput.data" id="search" class="form-control" aria-label="...">
                </div>
        </div>
</div>


<div class="table">
    <div class="table" ng-controller="SearchResultController as results">
        <table class="well well-sm">
            <tr>
                <th>Name/Main Contact</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat="result in results" ng-class="result.id">
            <td>{{result.firstName + " " + result.lastName}}</td>
            <td>{{result.phone}}</td>
            <td>{{result.email}}</td>
            </tr>


    <!--hover class search results-->
<!--<div class="table">-->
    <!--<table class="table-hover table table-bordered">-->
        <!--<tr>-->
            <!--<th>Name</th>-->
            <!--<th>Company</th>-->
            <!--<th>Phone</th>-->
            <!--<th>Email</th>-->
        <!--</tr>-->
        <!--&lt;!&ndash;hyperlink buttons&ndash;&gt;-->
        <!--<tr ng-controller="editCorpCtrl" ng-click="openCorp('lg')">-->
            <!--<td></td>-->
            <!--<td>3m</td>-->
            <!--<td>218-383-2847</td>-->
            <!--<td>3m@gmail.com</td>-->
        <!--</tr>-->
        <!--&lt;!&ndash;hyperlink buttons&ndash;&gt;-->
        <!--<tr ng-controller="editFamilyCtrl" ng-click="open('lg')">-->
            <!--<td>Bart Simpson</td>-->
            <!--<td></td>-->
            <!--<td>218-383-2847</td>-->
            <!--<td>Bart@gmail.com</td>-->
        <!--</tr>-->
    <!--</table>-->
<!--</div>-->

