<!--Search Bar-->
<div class="search-container fluid-container">
        <div class="row">
            <form ng-controller="searchFunction" ng-submit="searchBtn()">
                <div class="input-group" >
                    <div class="input-group-btn">
                        <button type="submit" ng-submit="searchBtn()" class="btn btn-default" >Search</button>
                    </div>
                    <input type="text" ng-model="formInput.data" id="search" class="form-control" aria-label="...">

                </div>
                </form>
        </div>
</div>

<div>
    <div id ="childNameSearch" class="table">
        <legend>Kids</legend>
        <table class="table-hover table table-bordered" ng-controller="editFamilyCtrl">
            <tr>
                <th class="field-label col-xs-4 active">Name</th>
                <th class="field-label col-xs-4 active">Parent Name</th>
                <th class="field-label col-xs-4 active">Home Phone</th>
            </tr>

//MERGE CONFLICT THINK THIS CAN BE DELETED
           // <tr ng-click="open('lg')"  ng-repeat ="result in kids">
           //     <td class="field-label col-xs-4 active">{{result.FN}} {{result.LN}}</td>
           //     <td class="field-label col-xs-4 active">{{result.CAFN}} {{result.CALN}} </td>
           //     <td> class="field-label col-xs-4 active">{{result.CMP}}</td>
            <tr data-id='{{result.id}}' ng-click="open('lg', result.id)"  ng-repeat ="result in kids">
                <td>{{result.FN}} {{result.LN}}</td>
                <td>{{result.CAFN}} {{result.CALN}} </td>
                <td>{{result.CMP}}</td>
            </tr>
        </table>
    </div>


    <div id="adultSearchName" class="table">
        <legend>Adults</legend>
        <table class="table-hover table table-bordered" ng-controller="editFamilyCtrl" >
            <tr>
                <th class="field-label col-xs-3 active">Name</th>
                <th class="field-label col-xs-3 active">Home Phone</th>
                <th class="field-label col-xs-3 active">Cell Phone</th>
                <th class="field-label col-xs-3 active">Email</th>
            </tr>

//MERGE CONFLICT - THINK THIS CAN BE DELETED
           // <tr ng-click="open('lg')" ng-repeat ="result in adults" >
           //     <td class="field-label col-xs-3 active">{{result.AFN}} {{result.ALN}}</td>
           //     <td class="field-label col-xs-3 active">{{result.MP}}</td>
           //     <td class="field-label col-xs-3 active">{{result.AC}}</td>
           //     <td class="field-label col-xs-3 active">{{result.AE}}</td>

            <tr data-id="{{result.id}}" ng-click="open('lg', result.id)" ng-repeat ="result in adults" >
                <td>{{result.AFN}} {{result.ALN}}</td>
                <td>{{result.MP}}</td>
                <td>{{result.AC}}</td>
                <td>{{result.AE}}</td>

            </tr>
            </table>
    </div>
</div>








<div data-id="corpNameSearch" class="table">
     <legend>Companies</legend>

    <table class="table-hover table table-bordered" ng-controller="editCorpCtrl" >
        <tr>
            <th class="field-label col-xs-3 active">Name</th>
            <th class="field-label col-xs-3 active">Company</th>
            <th class="field-label col-xs-3 active">Phone</th>
            <th class="field-label col-xs-3 active">Email</th>
        </tr>

// MERGE CONFLICE THINK THIS CAN BE DELETED
       //<tr ng-click="openCorp('lg')"  ng-repeat ="result in companies" >
       //    <td class="field-label col-xs-3 active">{{result.CFN}} {{result.CLN}}</td>
       //    <td class="field-label col-xs-3 active">{{result.COMP}}</td>
       //    <td class="field-label col-xs-3 active">{{result.CP}}</td>
       //    <td class="field-label col-xs-3 active">{{result.CE}}</td>

        <tr data-id="{{result.id}}" ng-click="openCorp('lg', result.id)"  ng-repeat ="result in companies" >
            <td>{{result.CFN}} {{result.CLN}}</td>
            <td>{{result.COMP}}</td>
            <td>{{result.CP}}</td>
            <td >{{result.CE}}</td>

        </tr>
    </table>
</div>